<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/style.css">
    <title>Document</title>
</head>
<body>
    <section>
        <form method="POST" action="send" class="container">
            <h2>Contact Us</h2>
            <div id="first" class="box">
                <input type="text" name="first" required>
                <span class="text">First Name</span>
                <span class="line"></span>
            </div>
            <div id="last" class="box">
                <input type="text" name="last" required>
                <span class="text">Last Name</span>
                <span class="line"></span>
            </div>
            <div id="email" class="box">
                <input id="emailIn" type="email" name="email" onchange="checkEmail()" required>
                <span id="emailText" class="text">Email</span>
                <span id="emailLine" class="line"></span>
            </div>
            <div id="mobile" class="box">
                <input id="mobileIn" type="text" name="mobile" pattern="[0-9]{8}" maxlength="8" onchange="checkMobile()" required>
                <span id="mobileText" class="text">Mobile</span>
                <span id="mobileLine" class="line"></span>
            </div>
            <div id="msg" class="box">
                <textarea name="msg" required></textarea>
                <span class="text">Type Your Message Here...</span>
                <span class="line"></span>
            </div>
            <input id="submit" type="submit" value="Send">
        </form>

        <script>
            const email = document.getElementById("emailIn");
            const emailText = document.getElementById("emailText");
            const emailLine = document.getElementById("emailLine");

            function checkEmail() {
                if(email.value.length > 0) {
                    emailText.style.top = "-1.4rem";
                    emailText.style.left = "0";
                    emailLine.style.height = "100%";
                }
                else {
                    emailText.style.top = "";
                    emailText.style.left = "";
                    emailLine.style.height = "";
                }
            }


            const mobile = document.getElementById("mobileIn");
            const mobileText = document.getElementById("mobileText");
            const mobileLine = document.getElementById("mobileLine");

            function checkMobile() {
                if(mobile.value.length > 0) {
                    mobileText.style.top = "-1.4rem";
                    mobileText.style.left = "0";
                    mobileLine.style.height = "100%";
                }
                else {
                    mobileText.style.top = "";
                    mobileText.style.left = "";
                    mobileLine.style.height = "";
                }
            }
        </script>
    </section>
</body>
</html>